<div class="dream-team-container">
  <div class="dream-team-container_header">
    <span class="dream-team-container_title">Создай свою команду</span>
  </div>
  <div class="dream-team-container_form form">
    <div class="rows first-row">
      <div class="form-item" [formGroup]="formGroup" *ngFor="let character of dreamTeamSquad">
        <label>{{character.name}}</label>
        <select id="{{character.id}}" (change)="onChangeCharacter($event)" formControlName="charactersSelect">
          <option value="" disabled>Выбери персонажа</option>
          <option *ngFor="let value of charactersSelect" [hidden]="formattedCharactersArray().includes(value)" [value]="value">{{ value }}</option>
        </select>
      </div>
    </div>
    <div class="rows second-row">
      <div class="form-item" [formGroup]="formGroup">
        <label>Космический корабль</label>
        <select formControlName="starshipsSelect">
          <option value="" disabled>Выбери корабль</option>
          <option *ngFor="let value of starshipsSelect" [value]="value">{{ value }}</option>
        </select>
      </div>
      <div class="form-item" [formGroup]="formGroup">
        <label>Наземный транспорт</label>
        <select formControlName="vehiclesSelect">
          <option value="" disabled>Выбери транспорт</option>
          <option *ngFor="let value of vehiclesSelect" [value]="value">{{ value }}</option>
        </select>
      </div>
      <div class="form-item" [formGroup]="formGroup">
        <label>База находится на планете</label>
        <select formControlName="planetsSelect">
          <option value="" disabled>Выбери планету</option>
          <option *ngFor="let value of planetsSelect" [value]="value">{{ value }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="dream-team-container_footer"></div>
</div>
