<div class="dream-team-container">
  <div class="dream-team-container_header">
    <span class="dream-team-container_title">Создай свою команду</span>
  </div>
  <div class="dream-team-container_form form">
    <div class="rows first-row">
      <div class="form-item">
        <label>Лидер команды</label>
        <input />
      </div>
      <div class="form-item">
        <label>Будущий предатель</label>
        <input />
      </div>
      <div class="form-item">
        <label>Эксперт по оружию</label>
        <input />
      </div>
      <div class="form-item">
        <label>Гений</label>
        <input />
      </div>
      <div class="form-item">
        <label>Врач</label>
        <input />
      </div>
      <div class="form-item">
        <label>Мастер боевых искусств</label>
        <input />
      </div>
      <div class="form-item">
        <label>Талисман</label>
        <input />
      </div>
      <div class="form-item">
        <label>Парень, который погибнет первым</label>
        <input />
      </div>
    </div>
    <div class="rows second-row">
      <div class="form-item">
        <label>Космический корабль</label>
        <input />
      </div>
      <div class="form-item">
        <label>Наземный транспорт</label>
        <input />
      </div>
      <div class="form-item">
        <label>База находится на планете</label>
        <input />
      </div>
    </div>
  </div>
  <div class="dream-team-container_footer"></div>
</div>
